body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f0f0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
    height: 250px;
    width: 250px;
}

.sidebar {
    font-size: 150%;
    height: 100vh;
    width: fit-content;
    position: absolute;

}

canvas {
    position: relative;
    right: 50%;
}

.chart-container {
    width: fit-content;
    position: absolute;
    align-content: center;
    align-items: center;
    display: grid;
    top: 0;
    right: 0;
}

.updates {
    padding-left: 25px;
    left: 20vh;
    width: 80vh;
    position: relative;
}

.landing {
    font-size: 250%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {

    background-color: #343a40;
    border-color: #343a40;
    color: #ffffff;
    font-size: 50%;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}